body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px; /* 일정한 padding 추가 */
  background-color: #f4f4f4;
  display: flex;
  justify-content: center; /* 콘텐츠를 가운데 정렬 */
  align-items: center;
  height: 100vh; /* 화면의 높이를 100%로 설정 */
  box-sizing: border-box; /* padding을 포함한 전체 크기로 box 모델 적용 */
}

#myChart {
  display: block;
  margin: 0 auto; /* 캔버스를 가운데 정렬 */
  max-width: 100%; /* 부모 요소에 맞게 최대 크기 지정 */
  height: auto;
  border-radius: 10px; /* 둥근 테두리 적용 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  border: 1px solid #ddd; /* 테두리 추가 */
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  input[type="number"],
  button {
    width: calc(100% - 18px);
  }
}
