body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px; /* 일정한 padding 추가 */
  background-color: #f4f4f4;
  max-width: 1200px; /* body의 최대 너비 제한 */
  margin: 0 auto; /* 가운데 정렬 */
  box-sizing: border-box; /* padding을 포함한 전체 크기로 box 모델 적용 */
}

.container {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

p {
  color: #666;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="number"],
button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  input[type="number"],
  button {
    width: calc(100% - 18px);
  }
}
